
venv/
ENV/
env/


.vscode/
.idea/


*.py[cod]
__pycache__/
*.pyo
*.pyd


*.sqlite3
db.sqlite3
*.env
.env
*.secret


**/migrations/
!*/migrations/__init__.py


.DS_Store
Thumbs.db


*.log
*.pot
*.pyc
*.cache
*.coverage
*.cover
.coverage.*
.cache/
nosetests.xml
coverage.xml
*.mo


htmlcov/
*.out
test-results/


staticfiles/
static/
media/


build/
dist/


docs/_build/


*.pid
*.tar
*.bak
docker-compose.override.yml


flutter_export_environment.sh
pubspec.lock


node_modules/


secrets.json
config.json
